{% extends "base.html" %}
{% block title %}Settings Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h2>Admin Settings</h2>
    <ul style="list-style:none; padding-left: 0;">
        <li style="margin-bottom: 10px;"><a href="{% url 'user_list' %}" class="btn">Manage Users</a></li>
        <li style="margin-bottom: 10px;"><a href="{% url 'source_list' %}" class="btn">Manage Source of Joining</a></li>
        <li style="margin-bottom: 10px;"><a href="{% url 'payment_account_list' %}" class="btn">Manage Payment Accounts</a></li>
        <li style="margin-bottom: 10px;"><a href="{% url 'import_data' %}" class="btn">Import Data</a></li>
        <!-- <li style="margin-bottom: 10px;"><a href="{% url 'import_student_courses' %}" class="btn">Import Student Courses</a></li> -->
        <!-- <li style="margin-bottom: 10px;"><a href="{% url 'export_student_courses' %}" class="btn">Export Student Courses</a></li> -->
        <li style="margin-bottom: 10px;"><a href="{% url 'export_data' %}" class="btn">Export Data</a></li>
        {% if request.user.role == 'admin' %}
        <li style="margin-bottom: 10px;"><a href="{% url 'transaction_log' %}" class="btn">View Transaction Logs</a></li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li style="margin-bottom: 10px;"><a href="{% url 'import_db_backup' %}" class="btn">Import DB Backup</a></li>
        {% endif %}
        <li style="margin-bottom: 10px;"><a href="{% url 'settings' %}" class="btn">Settings</a></li>
    </ul>
    <a href="{% url 'admin:index' %}" class="btn btn-secondary">Go to Django Admin</a>
</div>

{% endblock %}
