{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar">
    <a href="/" class="navbar-brand">
        <i class="fas fa-graduation-cap"></i>
        <span>BTree Institute</span>
    </a>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            <div class="welcome-text">
                <span>Welcome, {{ user.name }}</span>
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                {% else %}
                    <i class="fas fa-user-circle fa-2x"></i>
                {% endif %}
            </div>
            <a href="{% url 'logout' %}" class="btn btn-secondary">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
        {% endif %}
    </div>
</nav>