{% extends "base.html" %}
{% block content %}
<h2>Trainer List</h2>
<a href="{% url 'create_trainer' %}">+ Add Trainer</a>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Trainer ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Type</th>
        <th>Stack</th>
    </tr>
    {% for trainer in trainers %}
    <tr>
        <td>{{ trainer.trainer_id }}</td>
        <td>{{ trainer.name }}</td>
        <td>{{ trainer.phone }}</td>
        <td>{{ trainer.email }}</td>
        <td>{{ trainer.get_trainer_type_display }}</td>
        <td>{{ trainer.stack }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
